// =============================================================================
// Quire-cover.scss
// -----------------------------------------------------------------------------
//
// Cover component (used in the layout for 'cover' page types)

// .quire-cover
// -----------------------------------------------------------------------------
.quire-cover {
    @media print {
        $splash-page-width: $print-width + $print-bleed + $print-bleed;
        $splash-page-height: $print-height + $print-bleed + $print-bleed;
        width: $splash-page-width;
        height: $splash-page-height;
        margin: -$print-bleed;
    }

    &__hero {
        background-color: $quire-cover-color;
        height: calc( 100vh - #{$navbar-height} );
        align-items: center;
        justify-content: center;

        @media print {
            height: 100%;
        }
    }

    &__hero-body {
        flex-grow: 0;
    }

    &__title-image {
		animation: fadeIn 2s;
        animation-fill-mode: backwards;
        animation-delay: 0.5s;
        width: 300px;
    }

    .subtitle {
		animation: fadeIn 2s;
        animation-fill-mode: backwards;
        animation-delay: 2s;
        color: #e4aa59ff;
        display: inline-block;
        font-size: 2rem;
        max-width: 30rem;
    }

    .reading-line {
		animation: fadeIn 2s;
        animation-fill-mode: backwards;
        animation-delay: 4s;
        color: $white;
        font-size: 1.35rem;
        margin-top: 4rem;
    }
}


