{{- $js := "js/application.js" | relURL -}}
{{- $jsCustom := "js/custom.js" | relURL -}}
<script type="text/javascript"> var figureModal ={{ .figureModal }}</script>
<script src="{{ $js }}"></script>
<script src="{{ $jsCustom }}"></script>
<!-- surveymonkey script: Feb 2021 -->
<script>(function(t,e,s,o){var n,c,l;t.SMCX=t.SMCX||[],e.getElementById(o)||(n=e.getElementsByTagName(s),c=n[n.length-1],l=e.createElement(s),l.type="text/javascript",l.async=!0,l.id=o,l.src="https://widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd7boKT1OZKSkPNsWOxxx_2BXItmYmLDW6lxuS2ITejoJtW.js",c.parentNode.insertBefore(l,c))})(window,document,"script","smcx-sdk");</script>
