{{- if isset $.Site.Params "imagedir" }}
	{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
	{{ $.Scratch.Set "imageDir" "" }}
{{ end -}}
{{- $imgDir := $.Scratch.Get "imageDir" -}}

<div class="quire-navbar">
  <a href="#main" class="quire-navbar-skip-link" tabindex="1">
    Skip to Main Content
  </a>

  <div class="quire-navbar-controls">
    <div class="quire-navbar-controls__left">
      <button class="quire-navbar-button search-button"
              aria-controls="quire-search"
              onclick="toggleSearch()">
        <svg class="remove-from-epub">
          <switch>
            <use xlink:href="#search-icon"></use>
            <foreignObject width="32" height="32">
                <img src="{{ $imgDir | relURL }}/icons/search.png" alt="Search" />
            </foreignObject>
          </switch>
        </svg>
        <span class="visually-hidden">Search</span>
      </button>
	</div>
	
	<div class="quire-navbar-controls__center">
      <ul class="quire-navbar-page-controls" role="navigation" aria-label="quick">
		  <div class="quire-navbar-page-controls__item quire-home-page">
			  {{ with .Site.GetPage "cover.md" }}
			  <a href='{{ .Permalink }}'><strong>{{ $.Site.Title }}</strong></a>
			  {{ end }}
		  </div>
	  </ul>
	</div>

    <div class="quire-navbar-controls__right">
      <button class="quire-navbar-button menu-button"
              id="quire-controls-menu-button"
              onclick="toggleMenu()"
              aria-expanded="true"
              aria-controls="quire-menu"
              tabindex="2" >
        <svg class="remove-from-epub">
          <switch>
            <use xlink:href="#nav-icon"></use>
            <foreignObject width="32" height="32">
                <img src="{{ $imgDir | relURL }}/icons/nav.png" alt="Table of Contents" />
            </foreignObject>
          </switch>
        </svg>
        <span class="visually-hidden">Table of Contents</span>
      </button>
	</div>

  </div>
</div>